.container {
  padding: 20px;
  text-align: center;
}

.botoes-geracao {
  margin-bottom: 20px;
}

.botoes-geracao button {
  margin: 0 5px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.botoes-geracao button.ativo {
  background-color: #ffcb05; /* Amarelo Pokémon */
  font-weight: bold;
  border-color: #3b4cca;
}

.lista-pokemon {
  display: grid;
  /* Isso cria colunas automáticas e responsivas */
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.card-pokemon {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card-pokemon:hover {
  transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
  border-color: #3b4cca;
}

.card-pokemon img {
  width: 100px;
  height: 100px;
}

.card-pokemon p {
  text-transform: capitalize; /* Deixa a primeira letra maiúscula */
  font-weight: bold;
  color: #333;
}